.btn {
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--border-r-standart);
    color: var(--color-font-dark);
    cursor: pointer;
    display: inline-block;
    font: inherit;
    height: fit-content;
    padding: var(--size-sm) var(--size-md);
    width: fit-content;
}

.btn:hover {
    filter: var(--hover-brightness);
}