.container {
    bottom: 0;
    display: flex;
    justify-content: end;
    left: 0;
    position: fixed;
    right: 0;
    top: var(--size-3xl);
    z-index: var(--z-index-positive);
}

.sidebar {
    box-shadow: var(--shadow-standart);
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    width: 20rem;
    z-index: var(--z-index-top);
    
}

.backdrop {
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
    backdrop-filter: var(--backdrop-blur);
   
}