.container {
    flex-grow: 1;
   }

.noMoviesText {
    height: 100%;
    text-align: center;
   
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}