.input {
    display: flex;
    flex-direction: column;
}
.inputField {
    background-color: var(--color-bg);
    border: 1px solid var(--color-font);
    border-radius: var(--border-r-standart);
    box-sizing: border-box;
    color: var(--color-font);
    padding: var(--size-sm) var(--size-md);
    width: 100%;
}

.inputField::placeholder, .label {
    color: var(--color-grey-dark);
}

.inputField:active, .inputField:focus {
    border: 1px solid var(--color-secondary);
    outline: 1px solid var(--color-secondary);
}

.label {
   font-size: var(--font-xs);;
   margin-bottom: var(--size-xs);
}

.error {
    color: var(--color-red);
    font-size: var(--font-xs);
    margin-top: var(--size-xs);
 }