

.background {
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
    backdrop-filter: saturate(200%) blur(4rem);

}

.box {
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    min-height: 30rem;
    min-width: 30rem;
    padding: 2.5rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}
