.background {
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: var(--z-index-top);
    backdrop-filter: var(--backdrop-blur);

}

.box {
    align-items: center;
    background-color: var(--color-bg);
    border-radius: var(--border-r-standart);
    display: flex;
    left: 50%;
    min-width: 30rem;
    padding: var(--size-md);
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-index-top);

}
