.navLink, .navLinkActive {
    color: var(--color-font);
    margin: var(--size-md) var(--size-lg); 
    text-decoration: none;
}

.btn {
    align-self: flex-start;
    background: transparent;
    border: none;
    color: var(--color-font);
    cursor: pointer;
    font: inherit;
    margin: var(--size-md) var(--size-lg);
    padding: 0; 
    text-decoration: none;
    width: auto;
}

.navLink:hover, .navLinkActive, .btn:hover {
    filter: var(--hover-brightness);
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 2px;
    text-underline-offset: .2rem;
}
