.card {
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: auto;
    hyphens: auto;
    max-width: 46rem;
    min-width: 15rem;
    transition: all .5s;
}

.card:hover {
    border: 1px solid var(--color-secondary); 
    transform: translateY(-.1rem);
}


.card img {
    max-width: 100%;
}

.movieInfo {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.title {
    font-size: 1.9rem;
}

.rating {
    align-items: center;
    display: flex;
   
}

.ratingIcon {
    fill: var(--color-yellow);
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
    
}

.ratingAverage {
    margin: 0;
    padding: 0;
}

