.header {
    align-items: center;
    backdrop-filter: saturate(200%) blur(4rem);
    display: flex;
    justify-content: space-between;
    padding: .5rem 5rem;
    position: sticky;
    top:0;
    z-index: var(--z-index-top);
}

.icon {
    height: var(--size-logo);
}

.navList {
    display: flex;
    list-style-type: none;
    margin-left: 4rem;
   }

.navListSmall {
    flex-direction: column;
}




