.header {
    align-items: center;
    backdrop-filter: saturate(200%) blur(4rem);
    display: flex;
    justify-content: space-between;
    padding: .5rem 5rem;
    position: sticky;
    top:0;
    z-index: var(--z-index-top);
}

.icon {
    height: var(--size-logo);
}

.navList {
    display: flex;
    list-style-type: none;
    margin-left: 4rem;
   }

.navListSmall {
    flex-direction: column;
}

.navLink, .navLinkActive {
    color: var(--color-font);
    margin: 1.5rem 2rem; 
    text-decoration: none;
}

.btn {
    align-self: start;
    background: transparent;
    border: none;
    color: var(--color-font);
    cursor: pointer;
    font: inherit;
    margin: 1.5rem 2rem;
    padding: 0; 
    text-decoration: none;
    width: auto;
}

.navLink:hover, .navLinkActive, .btn:hover {
    filter: brightness(90%);
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 2px;
    text-underline-offset: .2rem;
}


